body {
    background-attachment:fixed;
}

.contenedor__mensaje, .form{
    width: 90%;
    margin: 0 auto;
}
.contenedor__parrafo {
    display: none;
}


.contenedor{
    flex-direction: column;
}


